:root {
    --component-size:calc(10vh);
}

#base {
    display: inline-flex;
    border-radius: 10px;
    position:absolute;
    /* left: calc(50% - (var(--component-size)/2));
    top: calc(50% - (var(--component-size)/2)); */

    width:var((--component-size)*2);
    height:var((--component-size));
}