#tabs {
    position:absolute;
    left: calc(50% - (var(--component-size)));
    top: calc(50% - (var(--component-size)*.83));
}

.tab {
    font-size: calc(var(--component-size)*2);
    width: calc(var(--component-size)*2);
    border: solid black 1px;
    border-radius: 5px;
}