.tab {
    
    font-size: calc(var(--component-size)*.22);
    width: calc(var(--component-size));
    background-color: rgb(255, 228, 196, 60%);
    border-radius: 10px;
}

#tabs {
    padding-top: 5vh;
}

.tab:hover {
    background-color: rgb(255, 228, 196, 90%);
}